// Шрифты:
$Inter: 'Inter';
$Raleway: 'Raleway';
// $InterSemiBold: 'InterSemiBold';

// $RalewayRegular: 'RalewayRegular';
// $RalewayMedium: 'RalewayMedium';
// $RalewaySemiBold: 'RalewaySemiBold';

// Цвета:
$DarkBlue: #283849;
$Green: #30957C;
$Azure: #5E93C0;
$Orange: #E5854A;
$Red: #D74660;
$LightBlue: #DAEDFF;