<div class="popup-overlay">
    <div class="popup-main">
        <a class="popup-overlay__cross">
            <span></span>
            <span></span>
        </a>
        <div class="popup-main__block">
            <div class="popup-main__title">
                <h3 class="popup-main__text">
                    Мир игрушек
                </h3>
                <img src="images/pages/partners/partner_logo.jpg" alt="">
            </div>
            <div class="popup-main__company">
                <h5>О компании:</h5>
                <p>Tools to help you schedule and earn on your own terms–customize exactly how and when clients can.</p>
            </div>
            <div class="popup-main__made">
                <h5>Что для них сделали:</h5>
                <p>Tools to help you schedule and earn on your own terms–customize exactly how and when clients can.Tools to help you schedule and earn on your own terms–customize.</p>
            </div>
        </div>
        <div class="popup-main__connection">
            <p>Вы можете связаться с ними чтобы больше о нас узнать</p>
            <a href="index.html" class="btn popup-main__btn">Связаться</a>
        </div> 
    </div>
</div>