@import '../base.scss';
// ------- FORM -------
.form{
    background: #EEF7FF;
    .section__title-block::after{
        display: none;
    }

    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }

    &__form-block{ 
        display: grid;
        grid-template-columns: 65% 35%;
        border-radius: 22px;
    }

        &__form-body{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 20px;
            padding: clamp(24px, 4vw,60px);
            background: $Green;
        }
        &__group{
            position: relative;
            font-family: $Inter;
            input{
                width: 100%;
                height: 40px;
                padding-top: 14px;
                color: #fff;
                opacity: .9;
                border-bottom: 2px solid rgba(255, 255, 255, .5);
                background: transparent;
                &::placeholder{
                    position: relative;
                    bottom: 0;
                    font-family: $Inter;
                    color: rgba(255, 255, 255, 0.3);
                }
            }
        }
        &__label-block{
            label{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.9;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                transition: all 0.3s ease;
                user-select: none;
                pointer-events: none;
            }
        }
        &__btn{
            max-width: 185px;
            padding: 14px 24px;
            margin-top: 16px;
            background: #fff;
            border-radius: 12px;
            font-family: $Raleway;
            font-weight: 600;
        }


        &__contacts{
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            padding: 60px 32px;
            background: $LightBlue;
            a{
                font-size: 14px;
                color: $DarkBlue;
            }
        }
        &__socials{
            display: flex;
            column-gap: 8px;
        }



    &__img{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 22px;
        }
    }


    @media(max-width: 768px){
        &__content{
            grid-template-columns: 1fr;
        }
        &__img{
            display: none;
        }
    }
    @media(max-width: 540px){
        &__form-block{
            grid-template: repeat(2, 1fr) / 1fr;
        }
        &__form-body{
            grid-column: span 1;
        }
        &__contacts{
            justify-content: center;
            padding: 0 20px;
        }
        &__btn{
            max-width: 100%;
        }
    }

    
    .form-done{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: $Green;
        color: #fff;
        visibility: hidden;
        span{
            position: absolute;
            font-size: clamp(100px, 12vw ,280px);
            opacity: .05;
            font-weight: 600;
        }
        .form-done__text{
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            margin-left: 35px;
            h1{
                font-size: 24px;
            }
            p{

            }
        }
    }
    .active-form{
        visibility: visible;
    }


}


