@import '../base.scss';

// ================ Попап ================
.popup-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	background: rgba(92, 112, 134, 0.3);
	backdrop-filter: blur(1px);
	transition: all 0.3s ease;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;

	.popup-main { 
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        max-width: 600px;
        color: $DarkBlue;
        row-gap: 22px;
        padding: 0 15px;
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;
            h3{
                font-size: 24px;
            }
            img{
                display: block;
                margin: 0 auto;
                max-height: 125px;
                width: 75%;
            }
        }
        &__block{
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            background: #eeeeee;
            border-radius: 14px 14px 0 0;
            padding: 10px 20px;
        }
        &__company,
        &__made{
            display: flex;
            flex-direction: column;
            row-gap: 6px;
            h5{
                font-family: $Inter;
                font-size: 20px;
            }
            p{
                font-family: $Inter;
                font-size: 14px;
            }
        }

        &__connection{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            background: $Green;
            color: #fff;
            border-radius: 0 0 14px 14px;
            padding: 10px 20px;
            p{
                font-size: 18px;
                font-weight: 600;
            }
            .form__form-body{
                padding: 15px;
            }
            .form__btn{
                margin: 0 auto;
            }
        }
        &__btn{
            max-width: 125px;
            background: #fff;
            padding: 13px 24px;
        }

        @media(max-width: 768px){
            &__title{
                flex-direction: column;
                row-gap: 8px;
            }
            &__connection{
                flex-direction: column;
            }

            &__btn{
                max-width: 100%;
            }
        }

	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

}

@media(max-width: 768px){

    .popup-overlay__cross {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 5px;
        right: 22px;
    
        & span {
            top: 50%;
            height: 3px;
            width: inherit;
            position: absolute;
            background: rgba(168, 168, 168, 0.7);
            transition: all 0.5s ease 0s;
        }
    
        & span:first-child {
            transform: rotate(45deg);
        }
    
        & span:last-child {
            transform: rotate(-45deg);
        }
    }

}


// ================ Попап-С ФОРМОЙ ================
.popup-overlay-form {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	background: rgba(92, 112, 134, 0.3);
	backdrop-filter: blur(1px);
	transition: all 0.3s ease;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;

	.popup-main-form { 
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        max-width: 600px;
        color: $DarkBlue;
        row-gap: 22px;
        padding: 0 15px;
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;
            h3{
                font-size: 24px;
            }
            img{
                max-height: 125px;
            }
        }
        &__block{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            background: #fff;
            border-radius: 14px 14px 0 0;
            padding: 10px 20px;
        }
        &__company,
        &__made{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            h5{
                font-family: $Inter;
                font-size: 20px;
            }
            p{
                font-family: $Inter;
            }
        }

        &__connection{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 40px;
            background: $Green;
            color: #fff;
            border-radius: 0 0 14px 14px;
            padding: 10px 20px;
            p{
                font-size: 18px;
                font-weight: 600;
            }
            a{
                color: $DarkBlue;
            }
        }
        &__btn{
            max-width: 125px;
            background: #fff;
            padding: 13px 24px;
        }

        @media(max-width: 768px){
            &__title,
            &__connection{
                flex-direction: column;
                row-gap: 20px;
            }

            &__btn{
                max-width: 100%;
            }
        }

	}

    #form{
        // background: linear-gradient(#00967a,#31904b);#babcbf, #4a4a4a
        background: rgba(224, 224, 224, 0.9);
        padding: 40px 20px;
        border-radius: 20px;
        label{
            color: #343434;
        }
        input{
            color: #000;
            &::placeholder{
                color: rgba(0, 0, 0, 0.4);
            }
        }
    }
    .form__btn{
        max-width: 100%;
    }

	&.active {
		opacity: 1;
		visibility: visible;
	}

}

@media(max-width: 768px){

    .popup-overlay__cross-form {
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 1;
        top: 10px;
        right: 25px;
    
        & span {
            top: 50%;
            height: 3px;
            width: inherit;
            position: absolute;
            background: rgba(255, 255, 255, 0.791);
            transition: all 0.5s ease 0s;
        }
    
        & span:first-child {
            transform: rotate(45deg);
        }
    
        & span:last-child {
            transform: rotate(-45deg);
        }
    }

}


//
.form-done{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: $Green;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    span{
        position: absolute;
        font-size: clamp(90px, 12vw ,170px);
        opacity: .05;
        font-weight: 600;
    }
    .form-done__text{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-left: 35px;
        h1{
            font-size: 24px;
        }
        p{

        }
    }
}
.active-form{
    visibility: visible;
}